.main-container {
margin-top: 40px;
padding: 30px;
}

.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 1px;
  color: white;
}

.highcharts-yaxis.highcharts-color-0 text {
  fill: white !important;
}